<launch>
    <node name="rosbot" pkg="instinct_rosbot_control" type="node"/>
    <node name="instinct_store" pkg="instinct_store" type="node" output="screen"/>
    <node name="instinct_planner" pkg="ros_instinct_core" type="node">
            <param name="instinct_plan_file" value="$(find ros_instinct_core)/plans/planner_trial_with_store.inst"/>
            <param name="instinct_spin_rate" value="60"/>
            <rosparam param="instinct_sense_map">
                0-20: sense_service
                20-30: store_sense_service
            </rosparam>
            <rosparam param="instinct_action_map">
                0-20: action_service
                20-30: store_action_service
            </rosparam>
    </node>
</launch>